<form [formGroup]="managerForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="firstName">Imię:<sup>*</sup>
    </label>
    <input type="text" name="firstName" id="firstName" formControlName="firstName"/>
    <div class="errors-text"
         *ngIf="managerForm.get('firstName').invalid && (managerForm.get('firstName').dirty || managerForm.get('firstName').touched)">

      <div *ngIf="managerForm.get('firstName').errors.required">
        <i>Imię jest wymagane</i>
      </div>
      <div *ngIf="managerForm.get('firstName').errors.minlength">
        <i>Imię musi składać się z conajmniej 3 znaków</i>
      </div>
      <div *ngIf="managerForm.get('firstName').errors.maxLength">
        <i>Imię musi składać się z maksymalnie 20 znaków</i>
      </div>
    </div>
  </div>

  <div>
    <label for="lastName">Nazwisko:<sup>*</sup></label>
    <input type="text" name="lastName" id="lastName" formControlName="lastName"/>
    <div class="errors-text"
         *ngIf="managerForm.get('lastName').invalid && (managerForm.get('lastName').dirty || managerForm.get('firstName').touched)">

      <div *ngIf="managerForm.get('lastName').errors.required">
        <i>Nazwisko jest wymagane</i>
      </div>
      <div *ngIf="managerForm.get('lastName').errors.minlength">
        <i>Nazwisko musi składać się z conajmniej 3 znaków</i>
      </div>
      <div *ngIf="managerForm.get('lastName').errors.maxLength">
        <i>Nazwisko musi składać się z maksymalnie 20 znaków</i>
      </div>
    </div>
  </div>

  <div>
    <label for="email">Adres email:<sup>*</sup></label>
    <input type="email" name="email" id="email" formControlName="email"/>
    <div class="errors-text"
         *ngIf="managerForm.get('email').invalid && (managerForm.get('email').dirty || managerForm.get('email').touched)">

      <div *ngIf="managerForm.get('email').errors.required">
        <i>Email jest wymagany</i>
      </div>
      <div *ngIf="managerForm.get('email').errors.email">
        <i>Niepoprawny email</i>
      </div>
    </div>
  </div>

  <div>
    <label for="phoneNumber">Numer telefonu:<sup>*</sup></label>
    <input type="tel" name="phoneNumber" id="phoneNumber" formControlName="phoneNumber"/>
    <div class="errors-text"
         *ngIf="managerForm.get('phoneNumber').invalid && (managerForm.get('phoneNumber').dirty || managerForm.get('phoneNumber').touched)">

      <div *ngIf="managerForm.get('phoneNumber').errors.required">
        <i>Numer telefon jest wymagany</i>
      </div>
      <div
        *ngIf="managerForm.get('phoneNumber').errors.minlength || managerForm.get('phoneNumber').errors.maxLength || managerForm.get('phoneNumber').errors.invalidNumber">
        <i>Numer telefonu powinien zawierać dokładnie 9 cyfr</i>
      </div>
    </div>
  </div>

  <div>
    <label for="careerStartDate">Początek kariery:<sup>*</sup></label>
    <input type="date" name="careerStartDate" id="careerStartDate" formControlName="careerStartDate"/>
    <div class="errors-text"
         *ngIf="managerForm.get('careerStartDate').invalid && (managerForm.get('careerStartDate').dirty || managerForm.get('careerStartDate').touched)">

      <div *ngIf="managerForm.get('careerStartDate').errors.required">
        <i>Data rozpoczęcia kariery jest wymagana</i>
      </div>
      <div *ngIf="managerForm.get('careerStartDate').errors.invalidDate">
        <i>Pole musi zawierać datę w poprawnym formacie</i>
      </div>
    </div>
  </div>

  <div>
    <input type="submit" value="Zapisz" class="form-action-button accept-button"/>
    <a href="" class="action-button cancel-button">Anuluj</a>
  </div>
</form>
