<form>
  <div>
    <label for="firstName">Imię:<sup>*</sup></label>
    <input type="text" name="firstName" id="firstName"/>
  </div>

  <div>
    <label for="lastName">Nazwisko:<sup>*</sup></label>
    <input type="text" name="lastName" id="lastName"/>
  </div>

  <div>
    <label for="email">Adres email:<sup>*</sup></label>
    <input type="email" name="email" id="email"/>
  </div>

  <div>
    <label for="phoneNumber">Numer telefonu:<sup>*</sup></label>
    <input type="tel" name="phoneNumber" id="phoneNumber"/>
  </div>

  <div>
    <label for="careerStartDate">Początek kariery:<sup>*</sup></label>
    <input type="date" name="careerStartDate" id="careerStartDate"/>
  </div>
</form>

<div>
  <input type="submit" value="Dodaj" class="form-action-button accept-button"/>
  <a href="" class="action-button cancel-button">Anuluj</a>
</div>
