<div class="table-container">
  <table>
    <tr>
      <th *ngFor="let colName of headerNames">{{ colName }}</th>
    </tr>
    <tr *ngFor="let athlete of athletes$ | async">
      <td>{{ athlete.firstName }}</td>
      <td>{{ athlete.lastName }}</td>
      <td>{{ athlete.email }}</td>
      <td>{{ athlete.phoneNumber }}</td>
      <td>{{ getAthleteAge(athlete.birthDate) }}</td>
      <td>
        <ul>
          <li>
            <a href="" class="table-action-button edit-button">Edytuj</a>
          </li>
          <li>
            <a (click)="deleteRecord(athlete._id)" class="table-action-button delete-button">Usuń</a>
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>

<a routerLink="edit" class="action-button accept-button">Dodaj nowego sportowca</a>
