<form [formGroup]="athleteForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="firstName">Imię:<sup>*</sup></label>
    <input type="text" name="firstName" id="firstName" formControlName="firstName"/>
    <div class="errors-text"
         *ngIf="athleteForm.get('firstName').invalid && (athleteForm.get('firstName').dirty || athleteForm.get('firstName').touched)">

      <div *ngIf="athleteForm.get('firstName').errors.required">
        <i>Imię jest wymagane</i>
      </div>
      <div *ngIf="athleteForm.get('firstName').errors.minlength">
        <i>Imię musi składać się z conajmniej 3 znaków</i>
      </div>
      <div *ngIf="athleteForm.get('firstName').errors.maxLength">
        <i>Imię musi składać się z maksymalnie 20 znaków</i>
      </div>
    </div>
  </div>

  <div>
    <label for="lastName">Nazwisko:<sup>*</sup></label>
    <input type="text" name="lastName" id="lastName" formControlName="lastName"/>
    <div class="errors-text"
         *ngIf="athleteForm.get('lastName').invalid && (athleteForm.get('lastName').dirty || athleteForm.get('firstName').touched)">

      <div *ngIf="athleteForm.get('lastName').errors.required">
        <i>Nazwisko jest wymagane</i>
      </div>
      <div *ngIf="athleteForm.get('lastName').errors.minlength">
        <i>Nazwisko musi składać się z conajmniej 3 znaków</i>
      </div>
      <div *ngIf="athleteForm.get('lastName').errors.maxLength">
        <i>Nazwisko musi składać się z maksymalnie 20 znaków</i>
      </div>
    </div>
  </div>

  <div>
    <label for="email">Adres email:<sup>*</sup></label>
    <input type="email" name="email" id="email" formControlName="email"/>
    <div class="errors-text"
         *ngIf="athleteForm.get('email').invalid && (athleteForm.get('email').dirty || athleteForm.get('email').touched)">

      <div *ngIf="athleteForm.get('email').errors.required">
        <i>Email jest wymagany</i>
      </div>
      <div *ngIf="athleteForm.get('email').errors.email">
        <i>Niepoprawny email</i>
      </div>
    </div>
  </div>

  <div>
    <label for="phoneNumber">Numer telefonu:<sup>*</sup></label>
    <input type="tel" name="phoneNumber" id="phoneNumber" formControlName="phoneNumber"/>
    <div class="errors-text"
         *ngIf="athleteForm.get('phoneNumber').invalid && (athleteForm.get('phoneNumber').dirty || athleteForm.get('phoneNumber').touched)">

      <div *ngIf="athleteForm.get('phoneNumber').errors.required">
        <i>Numer telefon jest wymagany</i>
      </div>
      <div
        *ngIf="athleteForm.get('phoneNumber').errors.minlength || athleteForm.get('phoneNumber').errors.maxLength || athleteForm.get('phoneNumber').errors.invalidNumber">
        <i>Numer telefonu powinien zawierać dokładnie 9 cyfr</i>
      </div>
    </div>
  </div>

  <div>
    <label for="currentClub">Aktualny klub:<sup>*</sup></label>
    <input type="text" name="currentClub" id="currentClub" formControlName="currentClub"/>
    <div class="errors-text"
         *ngIf="athleteForm.get('currentClub').invalid && (athleteForm.get('currentClub').dirty || athleteForm.get('firstName').touched)">

      <div *ngIf="athleteForm.get('currentClub').errors.required">
        <i>Imię jest wymagane</i>
      </div>
      <div *ngIf="athleteForm.get('currentClub').errors.minlength">
        <i>Imię musi składać się z conajmniej 3 znaków</i>
      </div>
      <div *ngIf="athleteForm.get('currentClub').errors.maxLength">
        <i>Imię musi składać się z maksymalnie 20 znaków</i>
      </div>
    </div>
  </div>

  <div>
    <label for="birthdate">Data urodzenia:<sup>*</sup></label>
    <input type="date" name="birthdate" id="birthdate" formControlName="birthdate"/>
    <div class="errors-text"
         *ngIf="athleteForm.get('birthdate').invalid && (athleteForm.get('birthdate').dirty || athleteForm.get('birthdate').touched)">

      <div *ngIf="athleteForm.get('birthdate').errors.required">
        <i>Data urodzenia jest wymagana</i>
      </div>
      <div *ngIf="athleteForm.get('birthdate').errors.invalidDate">
        <i>Pole musi zawierać datę w poprawnym formacie</i>
      </div>
    </div>
  </div>

  <div class="form-buttons">
    <a (click)="onSubmit()" class="form-action-button accept-button">Zapisz</a>
    <a (click)="goBack()" class="action-button cancel-button">Anuluj</a>
  </div>
</form>
