<header>
  <h1>Fabryka sportu</h1>
  <img src="assets/images/logo.jpg" alt="Fabryka sportu logo">
</header>

<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="nav-item-active">Strona główna</a></li>
    <li><a routerLink="/managers" routerLinkActive="nav-item-active">Managerowie</a></li>
    <li><a routerLink="/athletes" routerLinkActive="nav-item-active">Sportowcy</a></li>
    <li><a routerLink="/transfers" routerLinkActive="nav-item-active">Transfery</a></li>
    <li><a routerLink="/login" routerLinkActive="nav-item-active">Logowanie</a></li>
  </ul>
</nav>

<router-outlet id="main"></router-outlet>

<footer>
  Marcin Pejski, s16945
</footer>

