<header>
  <p *ngIf="authService.loggedIn()" class="username"><b>Zalogowany użytkownik:</b> {{ authService.getUsername() }}</p>
  <a (click)="changeLanguage()" class="lang-selection action-button info-button">{{ currentLang }}</a>
</header>

<nav>
  <img src="assets/images/logo.jpg" alt="Fabryka sportu logo">
  <ul class="menu-items">
    <li><a routerLink="/home" routerLinkActive="nav-item-active">{{ 'main_page_nav' | translate }}</a></li>
    <li><a routerLink="/managers" routerLinkActive="nav-item-active">{{ 'managers_nav' | translate }}</a></li>
    <li><a routerLink="/athletes" routerLinkActive="nav-item-active">{{ 'athletes_nav' | translate }}</a></li>
    <li><a routerLink="/transfers" routerLinkActive="nav-item-active">{{ 'transfers_nav' | translate }}</a></li>
    <ng-container *ngIf="!isLoggedIn() else loggedIn">
      <li><a routerLink="/login" routerLinkActive="nav-item-active">{{ 'login_nav' | translate }}</a></li>
    </ng-container>

    <ng-template #loggedIn>
      <li><a (click)="logout()" routerLinkActive="nav-item-active">{{ 'logout_nav' | translate }}</a></li>
    </ng-template>
  </ul>
</nav>

<div class="content">
  <router-outlet id="main"></router-outlet>
</div>

<footer>
  Marcin Pejski, s16945
</footer>

