<div class="table-container">
  <table>
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Email</th>
      <th>Numer telefonu</th>
      <th>Start kariery</th>
      <th>Akcje</th>
    </tr>
    <tr>
      <td>Jan</td>
      <td>Kowalski</td>
      <td>jan.kowalski@acme.com</td>
      <td>123 456 789</td>
      <td>12-12-1978</td>
      <td>
        <ul>
          <li>
            <a href="" class="table-action-button edit-button">Edytuj</a>
          </li>
          <li>
            <a href="" class="table-action-button delete-button">Usuń</a>
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>

<a routerLink="edit" class="action-button accept-button">Dodaj nowego managera</a>
