<div class="table-container">
  <table>
    <tr>
      <th *ngFor="let colName of headerNames">{{ colName }}</th>
    </tr>
    <tr *ngFor="let manager of managers$ | async">
      <td>{{ manager.firstName }}</td>
      <td>{{ manager.lastName }}</td>
      <td>{{ manager.email }}</td>
      <td>{{ manager.phoneNumber }}</td>
      <td>{{ getEmploymentYears(manager.careerStartDate) }}</td>
      <td>
        <ul>
          <li>
            <a href="" class="table-action-button edit-button">Edytuj</a>
          </li>
          <li>
            <a (click)="deleteRecord(manager._id)" class="table-action-button delete-button">Usuń</a>
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>

<a routerLink="edit" class="action-button accept-button">Dodaj nowego managera</a>
