<div class="table-container">
  <table>
    <tr>
      <th>Sportwiec</th>
      <th>Manager</th>
      <th>Data transferu</th>
      <th>Kwota transferu</th>
      <th>Prowizja</th>
      <th>Wypożyczenie?</th>
      <th>Kontrakt start</th>
      <th>Kontrakt koniec</th>
      <th>Akcje</th>
    </tr>
    <tr>
      <td>Maciej Białkowski</td>
      <td>Jan Kowalski</td>
      <td>10-10-2020</td>
      <td>12 000 000 zł</td>
      <td>500 000 zł</td>
      <td>Nie</td>
      <td>01-01-2021</td>
      <td>01-01-2022</td>
      <td class="actions">
        <ul>
          <li>
            <a href="" class="table-action-button edit-button">Edytuj</a>
          </li>
          <li>
            <a href="" class="table-action-button delete-button">Usuń</a>
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>

<a routerLink="edit" class="action-button accept-button">Dodaj szczegóły nowego transferu</a>
